<div class="w-full grid grid-cols-4 justify-items-center mt-8 border-b">
    {% embed "shared/_tab.html.twig" with {route: 'app_mini_twits_other_profile'} %}
        {% block path %}
            {{ path('app_mini_twits_other_profile', {id:user.id}) }}
        {% endblock %}
        {% block content %}
            MiniTwits
        {% endblock %}
    {% endembed  %}
    {% embed "shared/_tab.html.twig" with {route: 'app_mini_twits_other_profile_replies'} %}
        {% block path %}
            {{ path('app_mini_twits_other_profile_replies', {id:user.id}) }}
        {% endblock %}
        {% block content %}
            Twits & replies
        {% endblock %}
    {% endembed  %}
    {% embed "shared/_tab.html.twig" with {route: 'app_mini_twits_other_profile_media'} %}
        {% block path %}
            {{ path('app_mini_twits_other_profile_media', {id:user.id}) }}
        {% endblock %}
        {% block content %}
            Media
        {% endblock %}
    {% endembed  %}
    {% embed "shared/_tab.html.twig" with {route: 'app_mini_twits_other_profile_likes'} %}
        {% block path %}
            {{ path('app_mini_twits_other_profile_likes', {id:user.id}) }}
        {% endblock %}
        {% block content %}
            Likes
        {% endblock %}
    {% endembed  %}
</div>